---
---

@import "{{ site.theme }}";

p,ul,i {
 color: black;
 font-size: 14px;
}

h1,h2,h3,h4,h5,h6 {
 color: #43a1a1;
}

@media screen and (min-width: 768px) {
 .first {
  position: relative;
  top: 75px;
  right: 40px;
 }
}
