---
---

@import "{{ site.theme }}";

p,ul,i {
 color: black;
 font-size: 13px;
}

h1,h2,h3,h4,h5,h6 {
 color: #43a1a1;
}

h1 {
  font-size: 25px;
}

@media screen and (min-width: 850px) {
 .first {
  position: relative;
  top: 70px;
  right: 40px;
 }
}
